
header {
    background-image: url(../img/pattern.png);
    background-color: #4a83d3;
    height: 150px;
    position: relative;
}

.logo {
    height: 80px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.titolo{
    font-size: 70px;
    margin-top: -1px;
}

.pragrafo1{
    font-size: 22px;
    color: gray;
    margin-top: -50px;
    margin-bottom:40px ;
}

span{
    color:rgb(0, 166, 255)
}

.testo{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px; 
   
}

.evidenziato{
    background:#FFFF00;
    color: #000000
}

table{
    width: 100%;
    table-layout: fixed;
    font-size: 20px;
}

td{
    text-align: center
}


.special-td{
    text-align: left;
  }

th{
    background-color: rgb(37, 179, 255);
    color: white;
}

.tr-color{
    background-color: rgb(136, 213, 254);
}

.testo2{
    font-size: 20px;
    color: gray;
    padding: 20px 0px 10px 0px;
}


.immagine1{
    background: url(../img/monitor.jpg) no-repeat;
    height: 230px;
    position: relative;
}

.testo-immagine1{
    font-size: 25px;
    color: white;
    position:absolute;
    left: 15px;
    top: 10px;
}

.immagine2{
    background: url(../img/graph.jpg) no-repeat;
    height: 230px;
    position: relative;
}