
header {
    background-image: url(../img/pattern.png);
    background-color: #4a83d3;
    height: 150px;
    position: relative;
}

.logo {
    height: 80px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

h1{
    font-size: 70px;
}

.pragrafo1{
    font-size: 20px;
    color: #484f4f;
}

span{
    color:rgb(0, 166, 255)
}

